.login-bg{
    width: 100vw; 
    height: 100vh; 
    background-color: rgb(41,155,240);
    background-image: url('http://www.newcentcorp.com/wp-content/uploads/2017/08/Login-background.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-card{
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    max-width: 700px;
    background: rgba(255,255,255,0.9)
}