<div class="login-bg"> 

    <div class="col-md-12 card login-card">
        <h3 class="text-center" style="margin-bottom: 20px">Donations!</h3>
        <form class="form" [formGroup]="loginForm">
          <div class="form-group">
              <input class="form-control" type="text" formControlName="campaignCode" placeholder="Campaing Code" required>
              <div *ngIf="loginForm.controls['campaignCode'].errors && !loginForm.controls['campaignCode'].pristine" class="error-msg">
                <small class="form-text text-muted" [hidden]="!loginForm.controls['campaignCode'].errors.required">Camaping Code is required.</small>
              </div>
          </div>
  
          <div class="form-group">
            <input class="form-control" type="text" formControlName="username" placeholder="Username" required>
            <div *ngIf="loginForm.controls['username'].errors && !loginForm.controls['username'].pristine" class="error-msg">
              <small class="form-text text-muted" [hidden]="!loginForm.controls['username'].errors.required">Username is required.</small>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control" type="password" formControlName="password" placeholder="Password" required>
            <div *ngIf="loginForm.controls['password'].errors && !loginForm.controls['password'].pristine" class="error-msg">
              <small class="form-text text-muted" [hidden]="!loginForm.controls['password'].errors.required">Password is required.</small>
            </div>
          </div>
          <div class="form-group text-right">
            <button [disabled]="loginForm.invalid" (click)="login()" type="submit" class="btn btn-lg btn-primary">Login</button>
          </div>
        </form>
    </div>

    <ngx-spinner type="ball-8bits"></ngx-spinner>

</div>


