<form class="form" [formGroup]="addressInformationForm">
    <div class="form-group">
        <select id="country" formControlName="country" class="form-control">
            <option *ngFor="let country of countries" [ngValue]="country.ISO">{{ country.CountryName }}</option> -->
        </select>
    </div>

    <div class="form-group">
        <input class="form-control" type="text" formControlName="address1" placeholder="Address Line 1" required>
        <div *ngIf="addressInformationForm.controls['address1'].errors && !addressInformationForm.controls['address1'].pristine" class="error-msg">
          <small class="form-text text-muted" [hidden]="!addressInformationForm.controls['address1'].errors.required">Address is required.</small>
        </div>  
    </div>

    <div class="form-group">
        <input class="form-control" type="text" formControlName="address2" placeholder="Address Line 2" required>
    </div>

    <div class="form-group">
        <input class="form-control" type="text" formControlName="city" placeholder="City" required>
        <div *ngIf="addressInformationForm.controls['city'].errors && !addressInformationForm.controls['city'].pristine" class="error-msg">
          <small class="form-text text-muted" [hidden]="!addressInformationForm.controls['city'].errors.required">City is required.</small>
        </div>  
    </div>

    <div *ngIf="addressInformationForm.value.country == 'us'" class="form-group">
        <select id="state" formControlName="state" class="form-control">
            <option *ngFor="let state of states" [ngValue]="state.Code">{{ state.Name }}</option> -->
        </select>
    </div>

    <div *ngIf="addressInformationForm.value.country == 'us'" class="form-group" style="display: flex; flex-direction: row; align-items: center'">
        <div style='flex: 1'>
            <input class="form-control" type="text" formControlName="zip" placeholder="Zip" mask="00000">
            <div *ngIf="addressInformationForm.controls['zip'].errors && !addressInformationForm.controls['zip'].pristine" class="error-msg">
              <small class="form-text text-muted" [hidden]="!addressInformationForm.controls['zip'].errors.required">Zip is required.</small>
            </div>  
        </div>
        <div style="flex: 1">
            <input class="form-control" type="text" formControlName="zipExtension" placeholder="Zip Extension" mask="0000">
            <div *ngIf="addressInformationForm.controls['zipExtension'].errors && !addressInformationForm.controls['zipExtension'].pristine" class="error-msg">
              <small class="form-text text-muted" [hidden]="!addressInformationForm.controls['zipExtension'].errors.required">Zip extension is required.</small>
            </div> 
        </div>
    </div>
    <div *ngIf="addressInformationForm.value.country != 'us'">
        <div class="form-group">
            <input class="form-control" type="text" formControlName="province" placeholder="Province" >
            <div *ngIf="addressInformationForm.controls['province'].errors && !addressInformationForm.controls['province'].pristine" class="error-msg">
              <small class="form-text text-muted" [hidden]="!addressInformationForm.controls['province'].errors.required">Province is required.</small>
            </div>  
        </div>

        <div class="form-group">
            <input class="form-control" type="text" formControlName="postalCode" placeholder="Postal Code" mask="00000">
            <div *ngIf="addressInformationForm.controls['postalCode'].errors && !addressInformationForm.controls['postalCode'].pristine" class="error-msg">
              <small class="form-text text-muted" [hidden]="!addressInformationForm.controls['postalCode'].errors.required">Postal Code is required.</small>
            </div>  
        </div>
    </div>

    <div class="form-group text-right">
        <button [disabled]="addressInformationForm.invalid" (click)="submitAddress()" type="submit" class="btn btn-primary">Next Step</button>
    </div>
    

  </form>