<form class="form" [formGroup]="cardInformationForm">
    <div class="form-group">
        <select id="cardType" formControlName="cardType" class="form-control">
              <option *ngFor="let type of CreditCardTypeList" [ngValue]="type">{{ getCardById(type).name }}</option>
        </select>
    </div>
    <div class="form-group">
        <input class="form-control" type="text" formControlName="cardNumber" placeholder="Card Number" mask='{{getCardById(cardInformationForm.value.cardType).mask}}' required>
        <div *ngIf="cardInformationForm.controls['cardNumber'].errors && !cardInformationForm.controls['cardNumber'].pristine" class="error-msg">
            <small class="form-text text-muted" [hidden]="!cardInformationForm.controls['cardNumber'].errors.required">Card Number is required.</small>
            <small class="form-text text-muted" [hidden]="cardInformationForm.controls['cardNumber'].errors.minLength">Card Number is invalid.</small> 
        </div>
    </div>
    <div class="form-group">
        <input maxlength="4" class="form-control" type="text" mask="000" formControlName="cardVerificationNumber" placeholder="Card Verification Number" required>
        <div *ngIf="cardInformationForm.controls['cardVerificationNumber'].errors && !cardInformationForm.controls['cardVerificationNumber'].pristine" class="error-msg">
            <small class="form-text text-muted" [hidden]="!cardInformationForm.controls['cardVerificationNumber'].errors.required">Card Verification Number is required.</small>
            <small class="form-text text-muted" [hidden]="cardInformationForm.controls['cardVerificationNumber'].errors.minLength">Card Verification Number is invalid.</small> 
        </div>
    </div>

    <div class="form-group">
        <input class="form-control" type="text" formControlName="nameOnCard" placeholder="Name On Card" required>
        <div *ngIf="cardInformationForm.controls['nameOnCard'].errors && !cardInformationForm.controls['nameOnCard'].pristine" class="error-msg">
          <small class="form-text text-muted" [hidden]="!cardInformationForm.controls['nameOnCard'].errors.required">Name on card is required.</small>
        </div>
    </div>

    <div class="form-group">
        <input class="form-control" type="text" mask="00/00" formControlName="expirationDate" placeholder="Expiration Date" required>
        <div *ngIf="cardInformationForm.controls['expirationDate'].errors && !cardInformationForm.controls['expirationDate'].pristine" class="error-msg">
          <small class="form-text text-muted" [hidden]="!cardInformationForm.controls['expirationDate'].errors.required">Expiration Date is required.</small>
        </div>
    </div>

     <div class="form-group">
        <input class="form-control" type="email" formControlName="contactEmail" placeholder="Contact Email">
        <div *ngIf="cardInformationForm.controls['contactEmail'].errors && !cardInformationForm.controls['contactEmail'].pristine" class="error-msg">
            <div [hidden]="!cardInformationForm.controls['contactEmail'].errors.required">Email is required.</div>
            <div [hidden]="!cardInformationForm.controls['contactEmail'].errors.patternInvalid">Email is invalid.</div>
        </div>
    </div>

    <div class="form-group text-right">
        <button [disabled]="cardInformationForm.invalid" (click)="submitCardInformation()" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>