<div class="container">
  <div class="row">
    <div class="col-md-12 ">
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a (click)="setCurrentStep(0)" class="nav-item nav-link" [ngClass]="{'active': currentStep=='0'}" id="nav-home-tab" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true">Select Payment</a>
          <a (click)="setCurrentStep(1)" class="nav-item nav-link" [ngClass]="{'active': currentStep=='1'}" id="nav-profile-tab" data-toggle="tab" role="tab" aria-controls="nav-profile" aria-selected="false">Select Charity</a>
          <a (click)="setCurrentStep(2)" class="nav-item nav-link" [ngClass]="{'active': currentStep=='2'}" id="nav-contact-tab" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false">Confirm</a>
          <a (click)="setCurrentStep(3)" class="nav-item nav-link" [ngClass]="{'active': currentStep=='3'}" id="nav-about-tab" data-toggle="tab" role="tab" aria-controls="nav-about" aria-selected="false">Thank You</a>
        </div>
      </nav>
      <div class="tab-content  " id="nav-tabContent">
        <div *ngIf="isActive(0)" class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <app-select-payment></app-select-payment>
        </div>
      </div>
    </div>
  </div>
</div>
