
nav > .nav.nav-tabs{

    border: none;
    color:#fff;

    border-radius:0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    flex-wrap: wrap;
  
  }
  nav > div a.nav-item.nav-link,
  nav > div a.nav-item.nav-link.active
  {
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:#272e38;
      border-radius:0;
  }
  
  nav > div a.nav-item.nav-link.active:after
   {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: rgb(41,155,240) ;
  }


  .tab-content{
    background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid rgb(41,155,240);
    border-bottom:5px solid rgb(41,155,240);
    padding:30px 25px;
    
  }
  
  nav > div a.nav-item.nav-link:hover,
  nav > div a.nav-item.nav-link:focus
  {
    border: none;
      background: rgb(41,155,240);
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
  }