<div class="row">
  <div class="col-md-12">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel title="Credit Card Label Payment">
            <ng-template ngbPanelContent>
              <p>{{data.PaymentInstructions}}</p>
              <p>{{data.PaymentQuestion}}</p>
              <div *ngFor="let item of data.AmountQuestions">
                {{item.QuestionText}}
      
                <div class="radios-container">
                    <form [formGroup]="radioGroupForm">
                        <div ngbRadioGroup name="radioBasic" formControlName="amount">
                            <div *ngFor="let amountItem of item.AmountOptions"  class="form-check-inline">
                              <label ngbButtonLabel class="form-check-label">
                                  <input [checked]="radioGroupForm.value['amount'] == amountItem.Amount" ngbButton class="form-check-input" type="radio" [value]="amountItem.Amount">{{amountItem.AmountLabel}}
                              </label>
                            </div>
                            
                            <div class="form-check-inline">
                              <label ngbButtonLabel class="form-check-label">
                                  
                                  <div class="form-group" style="display: inline-block">
                                      <label style="display: flex; align-items: center">
                                        <div style="margin-right: 10px">$ </div>
                                        <input class="form-control" type="number" id="amount" formControlName="amount" placeholder="Amount">
                                      </label> 
                                    </div>
                              </label>
                            </div>
                        </div>
                      </form>
                      <hr>
                </div>
                <p>{{data.FrequencyInstructions}}</p>
                <div class="radios-container">
                    <form [formGroup]="frequencyGroupForm">
                        <div ngbRadioGroup name="radioBasic" formControlName="frequency">
                            <div *ngFor="let frequencyItem of data.FrequencyTypeList"  class="form-check-inline">
                              <label ngbButtonLabel class="form-check-label">
                                  <input [checked]="frequencyGroupForm.value['frequency'] == frequencyItem" ngbButton class="form-check-input" type="radio" [value]="frequencyItem">{{getFrequencyLabel(frequencyItem)}}
                              </label>
                            </div>
                        </div>
                      </form>
                      <hr>
                </div>
              </div>
              <div class="form-group text-right">
                <button (click)="validateDonationData()" type="submit" class="btn btn-primary">Submit</button>
              </div>
              <!-- <h1>{{radioGroupForm.value['amount']}}</h1>
              <h2>{{frequencyGroupForm.value['frequency']}}</h2> -->
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel title="Credit Card Label Information">
              <ng-template ngbPanelContent>
                <app-card-information [CreditCardTypeList]="data.CreditCardTypeList"></app-card-information>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
      <ngb-accordion #acc="ngbAccordion">
          <ngb-panel title="Address Information">
            <ng-template ngbPanelContent>
              <app-address-information></app-address-information>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
  </div>
</div>